/* Global CSS styles that will be applied to all pages in the application */
html,
body {
  padding: 0;
  margin: 0;
  font-family:
    'Newsreader',
    'Germania One',
    'Bevan',
    sans-serif;
  line-height: 1.6;
  font-size: 25px;
  background-color: #0e29a1;
}
main {
  background-color: #ffffff;
}
 
* {
  box-sizing: border-box;
}
 
a {
  color: #0070f3;
  text-decoration: none;
}
 
a:hover {
  text-decoration: underline;
  color: #00775d;
}
 
img {
  max-width: 100%;
  display: block;
}