.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}
 
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}
 
.backToHome {
  margin: 3rem 0 0;
  width: 100%;
  background-color: #ffffff;
}